.nav{
    background-color: white;
    z-index: 9;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    box-shadow: 0px 3px 65px 0px rgba(0,0,0,.15);
}
.nav_top{
    position:fixed ;
    top: 0;
    left: 0;
    right: 0;
}
.logo img{
    padding: 1px;
}
.nav_side{
    float: right;
    margin-top: 10px;

}
.nav_side a{
    
    text-decoration: none;
    margin-right: 16px;
    color: black;
    font-weight: bold;
    font-family: cosmic,sans-serif;
    font-size: 20.7px;
    justify-content: center;
    align-items: center ;
    align-content: center;
    text-align: center;
    
}
.nav_side a:hover{
    color: orange;
    text-decoration: underline;
    transition: 1s;
}
.logo{
    float: left;
    width: 60%;
}
.main {
    background-image: url('blog.png');
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 80vh;
    
}
.main .main_content{
    padding-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
}
.main .main_content h2{
    color: white;
    font-size: 50px;
    font-family: cosmic,sans-serif;
    font-weight: bolder;
    text-align: center;
    line-height: 25px;

}
.main .main_content h2 p{
    padding-top: 3rem;
    line-height: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
}
.main .btn{
  margin-top: 50px;
}
.main .btn a{
    text-align: center;
    text-decoration: none;
    margin: 39rem;
    padding: 15px 40px;
    background-color: blueviolet;
    color: aliceblue;
    font-family: cosmic,sans-serif;
    
    border: 2px solid white;
    border-radius: 10px ;
    
}
.main .btn a:hover{
    background-color: black;
    transition: 2s;
    border-color:   orange ;

}
.product h2{
    padding: 2rem;
    color: black;
    font-size: 60px;
    text-align: center;
}
.product_container{
    display: flex;
    margin-left: 5%;
    margin-right: 5% ;
}
.item{
    width: 33.3%;
    margin: 10px;
    height: auto;
}
.item:hover{
box-shadow: 0px 3px 60px 0px;
border-radius: 25px;
    
}
.item_pic{
    width: 100%;
    overflow: hidden;
    height: 250px;
}
.item_pic img{
    width: 100%;
}
.item_content{
    text-align: center;
    font-family: cosmic,sans-serif;
}
h3{
    text-align: center;
    font-size: 20px;
}
.item_content p{
   
   font-size: 15px;
}
.item_content a{
    text-align: center;
    text-decoration: none;
    margin: 1rem;
    padding: 10px 30px;
    background-color: blueviolet;
    color: aliceblue;
    font-family: cosmic,sans-serif;
    border: 2px solid white;
    border-radius: 10px ;
    
}
.item_content a:hover{
    background-color: black;
    transition: 2s;
    border-color:   orange ;

}
 .product_btn{
    text-align: center;
    padding-top: 50px;
    font-size: 30px;

}
.product_btn a{
    text-align: center;
    text-decoration: none;
    margin: 1rem;
    padding: 10px 30px;
    background-color: blueviolet;
    color: aliceblue;
    font-family: cosmic,sans-serif;
    
    border: 2px solid white;
    border-radius: 10px ;
    
}
.product_btn a:hover{
    background-color: black;
    transition: 2s;
    border-color:   orange ;
}
.keypoints{
    padding: 50px;
}
.keypoints h2{
    color: black;
    font-size: 40px;
    text-align: center;
}
.keypoints .key_containers{
    display: flex;
}
.keypoints .key_containers .key_content{
    width: 35%;
    padding: 20px;
    float: left;
}
.keypoints .key_containers .key_content li{
    margin: 10px;
    padding: 10px;
    border-left: 6px solid orange;
    color: black;
    font-family: cosmic,sans-serif;
    text-align: left;
    box-shadow: 0px 0px 20px 0px;
}
.key_image{
    width: 40%;
    float: right;
}
.key_image img{
    width: 100%;
   justify-content: right;
}
.testi{
    padding: 100px;
}
.testi h1{
    text-align: center;
    font-size: 55px;
}
hr{
    box-shadow: 2px 2px 2px 1px
}
footer{
    background-color: #99A3A4;
    padding-top: 50px;
    padding-left:50px;
    display: flex;
    flex-direction: column;
}
footer .got{
    text-align: center;
    justify-content: center;
    
}
footer .got h3{
    color: black;
    font-size: 23px;
    padding: 5px;
    font-family: cosmic,sans-serif;

}
footer .got a{
    text-decoration: none;
    margin: 10px;
    color: orange;
    font-size: 18px;
    font-family: cosmic,sans-serif;
}
footer .got a:hover{
    color: white;
}
footer .doc{
    text-align: center;
}
footer .doc h3{
    color: black;
    font-size: 23px;
    padding: 5px;
    font-family: cosmic,sans-serif;

}
footer .doc a{
    text-decoration: none;
    margin: 10px;
    color: orange;
    font-size: 18px;
    font-family: cosmic,sans-serif;
}
footer .doc a:hover{
    color: white;
}
footer .socials{
    text-align: center;
}
footer .socials h3{
    color: black;
    font-size: 25px;
    padding: 5px;
    font-family: cosmic,sans-serif;

}
footer .socials a{
    text-decoration: none;
    margin: 10px;
    color: orange;
    font-size: 25px;
    font-family: cosmic,sans-serif;
}
footer .socials a:hover{
    color: white;
}
footer .Contact{
    text-align: center;
}
footer .Contact h3{
    color: black;
    font-size: 25px;
    padding: 5px;
    font-family: cosmic,sans-serif;

}
footer .Contact a{
    text-decoration: none;
    margin: 10px;
    color: orange;
    font-size: 25px;
    font-family: cosmic,sans-serif;
}
footer .Contact a:hover{
    color: white;
}
.d-block{
    border-radius: 25px;
    
}
.team{
    padding: 50px;
}
.team h2{
    color: black;
    font-size: 35px;
    padding: 10px;
    text-align: center; 
}
.team_container{
    display: flex;
    
}
.team_video{
    width: 40%;
    padding: 20px;
}
.team_video video{
    width: 100%;
    border: 10px solid orange;
    outline: none;
}
.team_content{
    width: 40%;
    padding: 20px; 
    margin-left: 50px;
}
.team_content p{
    font-size: 17.6px;
    padding: 5px;
    font-family: cosmic,sans-serif;
}
.feed{
    padding: 50px;
    background-image: url('./image.jpg');
    background-size: cover;
}
.feed h2{
    color: white;
    font-size: 35px;
    text-align: center;
    padding: 10px;

}
.feed_form{
    text-align: center;
}
.feed_form form{
    padding: 20px;
}
.feed_form form input{
    width: 30%;;
    margin: 10px;
    padding: 8px;
    outline: none;
    border: none;
}
.feed_form form textarea{
    width: 30%;;
    margin: 10px;
    padding: 8px;
    outline: none;
    border: none;
    
    
}
.feed_form form  button{
    
    width: 30%;;
    margin: 10px;
    padding: 8px;
    outline: none;
    border: none;
    background-color: blueviolet;
    color: white;
    border-radius: 5px;

}
.about_us{
    padding: 100px;
}
.about_us h2{
    
    color: orange;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    font-family: cosmic,sans-serif;
   text-transform: uppercase;
}
.about_us p{
    font-size: 15px;
    padding: 10px;
    font-family: cosmic,sans-serif;
    text-align: center;
    line-height: 25px;
}
.contact_container{
    padding: 100px;
}
.contact_container h2{
    color: orange;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    font-family: cosmic,sans-serif;
   text-transform: uppercase;

}
.contact_container .g_map{
    border: 5px solid orange;
}
.contact_container .Contact_content{
    padding: 20px;
}
.contact_container .Contact_content p{
    font-size: 15px;
    padding: 10px;
    font-family: cosmic,sans-serif;
    line-height: 25px;
}